<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <!-- Explicitly declare machinekey, so viewstate can be used by multiple instances of the app -->
      <machineKey validationKey="64FDB45080526D987867BD3ED67114E41A003113C3690F7CDA4326BF94E5EACFB057CA5EAF8EFDA778F3DA06FD1017268FB88E76907FCE5BDAA5282AD7E406E8" decryptionKey="2D9F6556760F4272B1DDBEB51F76EFFEF8C8A058991DF50F6A6DF5DDC94DEF6E" validation="SHA1" decryption="AES" />
  
    </system.web>
<system.data>
  <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
</system.data>
  
</configuration>
